.breadcrumbs {
    background: rgba(254, 165, 0, 1);
    padding: 20px 67px 20px 40px;
    display: flex;
    align-items: center;
    gap: 16px;
	clip-path: polygon(0 0, 100% 0%, 80% 100%, 0% 100%);
}
.breadcrumbs a, .breadcrumbs span {
    font-family: 'Raleway';
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
}
.breadcrumbs i.fa-solid.fa-angle-right {
    background: #fff;
    width: 2px;
    display: inline-block;
    height: 16px;
}
.breadcrumbs i.fa-solid.fa-angle-right:before{
	display: none;
}